.DS_Store
image.png_3/
image.png_4/
image.png_5/
untitled.png/
data_architect/
flat_horizon/
name_card_logo/
obsidian_precision/
pixel_art_portfolio_6_panel_layout/
pixel_art_portfolio_goals_analysis_team/
pixel_art_portfolio_landing_page/
